.form__input {
  width: 100%;
  line-height: 2rem;
  border-radius: 20px;
  border: 2px solid yellow;
  padding: 0 10px;
}

.form__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (max-width: 750px) {
    display: block;
    width: 100%;
  }
}

.input__wrapper {
  margin: 10px;
  width: 60%;

  @media (max-width: 750px) {
    width: 100%;
  }
}
