.container {
  display: flex;
  justify-content: center;
}
.todo__complete-wrapper {
  line-height: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin: 5px;
  border-bottom: 2px solid yellow;
  width: 100%;
  border-radius: 40px;

  @media (max-width: 750px) {
    border-radius: 20px;
    padding: 0 10px;
  }
}

.btn__wrapper {
  display: flex;
  justify-content: flex-end;
  width: 32%;
}

.primary__btn--delete {
  margin: 10px 5px;
  font-size: 10px;
}
