.container {
  display: flex;
  justify-content: center;
}
.todo__complete-wrapper {
  line-height: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin: 5px;
  border-bottom: 2px solid yellow;
  width: 89%;
  border-radius: 40px;
  @media (max-width: 750px) {
    width: 100%;
  }
}

.primary__btn--delete {
  @media (max-width: 750px) {
    width: 26%;
  }
}
