.app {
  width: 70%;
  margin: 0 auto;
  @media (max-width: 750px) {
    width: 85%;
  }
  @media (max-width: 480px) {
    width: 90%;
  }
}
h1 {
  font-size: 3rem;
  padding: 20px 0;
}
.app__btn-wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 750px) {
    display: block;
  }
}

.wrapper__btn--remove {
  padding: 20px 0;
  display: flex;
  justify-content: center;

  @media (max-width: 750px) {
    display: block;
    padding: 0;
  }
}

.primary__btn {
  // display: block;
  margin: 10px;
  color: white;
  line-height: 2rem;
  width: 26%;
  background-color: grey;
  border: 2px solid yellow;
  border-radius: 20px;

  @media (max-width: 750px) {
    width: 100%;
    margin: 10px auto;
  }
}

.primary__btn:hover {
  opacity: 0.6;
  box-shadow: 0 0 10px (#000000);
}
